[Unit]
Description=Trenchable API (Docker)
After=docker.service network-online.target
Requires=docker.service

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
ExecStartPre=-/usr/bin/docker rm -f trenchable-api
ExecStart=/usr/bin/docker start -a trenchable-api
ExecStop=/usr/bin/docker stop trenchable-api

[Install]
WantedBy=multi-user.target
